{% extends 'base.html' %}

{% block body %}

<div class="container">

    <form method="POST">
        <br>

        {% csrf_token %}
        <table>
        <tr>
          <td>Last Name</td>
          <td><input type="text" name="lastName"></td>
        </tr>
        <tr>
          <td>First Name</td>
          <td><input type="text" name="firstName" ></td>
        </tr>
        <tr>
          <td>Birthday</td>
          <td><input type="date" name="birthday" value="{{ form.birthday|date:'%Y-%m-%d' }}"></td>
        </tr>
        <tr>
          <td>Telephone number</td>
          <td><input type="text" name="contact" ></td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td><input type="text" name="email" ></td>
        </tr>
        <tr>
          <td>Emergency number</td>
          <td><input type="text" name="relativeContact" ></td>
        </tr>
        <tr>
          <td>Pathologies</td>
          <td><input type="text" name="pathologies" ></td>
        </tr>
        <tr>
          <td>Other information</td>
          <td><input type="text" name="information" ></td>
        </tr>
        <tr>
        <td><button type="submit" class="btn btn-primary" name="button"> Add patient </button></td>
        </tr>
        </table>
    </form>
</div>

{% endblock %}
