{% extends 'base.html' %}

{% block body %}

<div class="container">

    <form action="" method="POST">
        <br>

        {% csrf_token %}

        <table>
        <tr>
          <td>Last Name</td>
          <td>{{ form.lastName }}</td>
        </tr>
        <tr>
          <td>First Name</td>
          <td>{{form.firstName}}</td>
        </tr>
        <tr>
          <td>Birthday</td>
          <td>{{form.birthday}}</td>
        </tr>
        <tr>
          <td>Telephone number</td>
          <td>{{form.contact}}</td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td>{{form.email}}</td>
        </tr>
        <tr>
          <td>Emergency number</td>
          <td>{{form.relativeContact}}</td>
        </tr>
        <tr>
          <td>Pathologies</td>
          <td>{{form.pathologies}}</td>
        </tr>
        <tr>
          <td>Other information</td>
          <td>{{form.information}}</td>
        </tr>
        <tr>
        <td><button type="submit" class="btn btn-primary" name="button"> Add patient </button></td>
        </tr>
        </table>
    </form>
</div>

{% endblock %}
