{% extends 'base.html' %}

{% block body %}

<a href="#">Patient id: </a><br>
<a></a>
<div class="container">
  <div class="row">
    <div class="image_profile">
    <img class = "profile_img" src = "">
    </div>
    <div class="col1">
        <row>
            <a>Last Name: </a>
            <a></a>
        </row>
        <row>
            <a>First Name: </a>
            <a></a>
        </row>
        <row>
            <a>Birth day: </a>
            <a></a>
        </row>
        <row>
            <a>Contact: </a>
            <a></a>
        </row>
        <row>
            <a>Relative Contact: </a>
            <a></a>
        </row>
    </div>
    <div class="col2">
      <row>
            <a>Pathologies: </a>
            <a></a>
        </row>
        <row>
            <a>Other information </a>
            <a></a>
        </row>
    </div>
  </div>
</div>
<br>
<button type="button" class="btn btn-primary">ADD PILL</button>
<button type="button" class="btn btn-primary">MODIFY PROFILE</button>

{% endblock %}